.hero {
  position: relative;
  overflow: hidden;
  padding: 120px 20px 80px;
  text-align: center;
  background: hsl(274, 56%, 90%); /* fond sombre neutre */
  color: #fff;
}

.hero::after {
  content: "";
  position: absolute;
  top: 10%;
  right: 5%;
  width: 400px;
  height: 400px;
  background: hsla(262, 83%, 58%, 0.4);
  border-radius: 50%;
  filter: blur(180px);
  z-index: 0;
}

.hero .blur-circle-right {
  position: absolute;
  bottom: 5%;
  right: 20%;
  width: 500px;
  height: 500px;
  background: linear-gradient(135deg, hsla(267, 91%, 69%, 0.48) 0%, hsla(281, 86%, 70%, 0.47) 50%, hsla(36, 88%, 70%, 0.39) 100%);
  border-radius: 50%;
  filter: blur(200px);
  z-index: 0;
}

.hero-content {
  position: relative;
  z-index: 2;
}
.hero h1 {
  font-size: 4rem;
  color: #984afa;
}
.hero h2{
  color: #000000;
  font-size: 2.5rem;
}

.hero span {
  background: linear-gradient(135deg, hsl(267, 95%, 64%) 0%, hsl(280 90% 65%) 50%, hsl(36 100% 63%) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.m1{
  background: linear-gradient(135deg, hsl(267, 95%, 64%) 0%, hsl(280 90% 65%) 50%, hsl(36 100% 63%) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero p {
  font-size: 25px;
  color: #666;
  margin: 20px 0;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.primary {
  background: linear-gradient(135deg, hsl(262 83% 58%), hsl(280 90% 65%));;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 10px;
  cursor: pointer;
}

.secondary {
  background: white;
  color: #7b4cf6;
  border: 1px solid #7b4cf6;
  padding: 12px 25px;
  border-radius: 10px;
  cursor: pointer;
}

.stats {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 60px 0;
}

.stat-card {
  background: white;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  border-radius: 15px;
  padding: 30px 50px;
  text-align: center;
  transition: transform 0.3s;
}

.stat-card:hover {
  transform: translateY(-5px);
}

.stat-card h2 {
  color: #7b4cf6;
  font-size: 2.5rem;
  margin: 0;
}

.stat-card p {
  color: #666;
}
.why {
  text-align: center;
  margin: 60px 0;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.card {
  background: white;
  border-radius: 12px;
  padding: 25px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  width: 250px;
}
