.admin-container {
  padding: 20px;
  text-align: center;
}

.admin-nav a {
  margin: 0 10px;
  font-weight: bold;
  text-decoration: none;
  color: #4b0082;
}
.admin-nav a:hover {
  text-decoration: underline;
}
